[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/nvie/vim-abolish.git
[submodule "bundle/toggle_mouse"]
	path = bundle/toggle_mouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "bundle/pyunit"]
	path = bundle/pyunit
	url = https://github.com/nvie/vim-pyunit.git
[submodule "bundle/rst_tables"]
	path = bundle/rst_tables
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
